<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4 well well-large">
    <section>
      <div class="picture">
      	<h1 class="text-center username"><i class="fa fa-user"></i> <%= @user.name %></h1>
      	<%= gravatar_for @user %>
      </div>
      <div class="info">
      	<ul>
      		<li><i class="fa fa-envelope"></i> <%= @user.email %></li>
      		<li><i class="fa fa-wrench"></i>  <%= pluralize(@user.repairs.count, "repair") %></li>
      	</ul>
      </div>
    </section>
  </aside>
  <aside class="span6 well well-large repairstable table-striped">
  	<h3 class="pull-left"><i class="fa fa-wrench"></i> My Repairs</h3>
  	<a href="/repairs/new" class="btn btn-large btn-primary pull-right"><i class="fa fa-plus"></i> Create repair</a>
  		<table class="table">
		<thead>
			<tr>
				<th>Customer</th>
				<th>Item</th>
				<th>Created on</th>
			</tr>
		</thead>
		<tbody>
			<% @user.repairs.each do |repair| %>
				<tr>
					<td><%= repair.customer.truncate(20) %></td>
					<td><%= repair.item.truncate(20) %></td>
					<td><%= time_tag(repair.created_at, :format =>'%B %d, %Y') %></td>
					<td>
						<%= link_to repair do %>
							<i class="fa fa-eye"></i>
						<% end %>
						|
						<%= link_to edit_repair_path(repair) do %>
							<i class="fa fa-pencil-square-o"></i>
						<% end %>
						|
						<%= link_to '#' do %>
							<i class="fa fa-credit-card"></i>
						<% end %>

					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
  </aside>
</div>
<div>
	
</div>

<div>

</div>